html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.svg-container {
    flex-grow: 1;
    position: relative;
}

.svg {
    background-color: #212833;
    cursor: none;
    height: 100%;
    transform: scaleY(-1);
    width: 100%;
}

.cursor-x {
    background-color: #fff;
    cursor: none;
    position: absolute;
    height: 100%;
    width: 1px;
}

.cursor-y {
    background-color: #fff;
    cursor: none;
    position: absolute;
    height: 1px;
    width: 100%;
}

.output {
    color: #5e6064;
    background-color: #bdbfc3;
    border-top: 2px solid #aaa;
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: 0;
    overflow: scroll;
    padding: .5rem .75rem;
}

.output-text {
    margin: 0;
}

.input {
    color: #5e6064;
    background-color: #e1e2e5;
    font-family: "Courier New", monospace;
    font-weight: 700;
    padding: .5rem .75rem;
    width: 100%;
}

.input:focus {
    outline: 0;
}
