html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.svg {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.input {
    padding: 5px 3px;
}
