$cliHistoryHeight: 126px;
$cliInputHeight: 40px;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr ($cliHistoryHeight + $cliInputHeight + 20px);
}

.code-container {
  background-color: #efefef;
  font-family: "Courier New", monospace;
  overflow: scroll;
  padding: 5px;
  white-space: pre;
}

.cli-container {
  padding: 5px;
}

.cli-history {
  background-color: #efefef;
  color: #555555;
  font-family: "Courier New", monospace;
  height: $cliHistoryHeight;
  overflow: scroll;
  padding: 10px 8px;
  white-space: pre;
}

.cli-history--record {
  font-weight: bold;
}

.cli-history--output {
  color: #777777;
}

.cli-history--warning {
  color: #ff5353;
}

.cli-input {
  font-family: "Courier New", monospace;
  font-weight: bold;
  padding: 5px 8px;
  width: calc(100% - 20px);
}
